body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

header .banniere {
margin-top: 44px;
margin-left: 55px;
padding-right: 77px;

}
header .logo {
    display: flex;
    justify-items: center;
    height: 19px;
    width: 61.09px;
}
header .haut:hover {
    /* text-decoration-color: blue; */
    color: #0065FC;

}
header .balise
{
    display: flex;
    justify-content: flex-end;
}
.haut { 
    margin-left: 67px;  
}


main .barre{
    display: flex;
    justify-content: left;
    margin-left: 55px;
    width: 322px;
    height: 49px;
    align-items: center;
    
}
main .pin {
    
    background-color:#F2F2F2 ;
    border: 15px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

main .recherche
{   
    display: flex;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;;
    align-items: center;
    justify-items: center;   
    font-size: 18px;
}
a:link { 
    text-decoration: none;   
}

main .bouton {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: white; 
    background: #0065FC;
    border: 10px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px 15px 16px;
    align-items: center;   
}
input {
    height: 41px;
    Border:none;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;;
    width: 236px;
}

.bulle{

    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 20px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.icone {
        color: #0065FC;
}

div .bulle:hover{
    background-color:#DEEBFF;


}
main .filtres{
    
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    width: 914px;
    height: 50px;
    justify-content: flex-start;
    justify-content: space-between;
    margin-left: 62px;
    margin-top: 32px;
    align-items: center;
    
    
    

}

main .slogan{
    margin-left: 55px;
}

main .lei{
    
    color:#0065FC;
    margin-left: 59px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 5px;
    
    
    
    
}
main .logements{
    display: flex;
    margin-top: 54px;
    
}

main img{

    height: 124px;
    width: 246px;
}
main .centaur {
        
    margin-left: 50px;
    margin-top: 39px;
    padding-left: 40px;
    padding-top: 42px; 
    padding-bottom: 46px;
    background: #F2F2F2;
    border-radius: 20px;
    width: 880px;
    height: 626px;
}

.btn2 {

    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;

}

.btn1 {
    
    background-color:#F2F2F2 ;
    border: 15px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    cursor: pointer;

    
}

.btn3 {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: white; 
    background: #0065FC;
    border: 10px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    
    
    align-items: center;
    cursor: pointer;

}

.zotel{

    display: grid;
    grid-template-columns: 246px 246px 246px;
    gap: 31px;
    

}

.étoiles{

    color: #0065FC;
    
    
}
.étoile{
    color: #F2F2F2;
}


main article {

    background-color: white;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    
    
}

main article:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card {

    border-radius: 20px 20px 0px 0px;
    width: 238px;
    padding: 4px;
    object-fit: cover;
    
}

.prix {
    margin-left: 16px;
    
    display: flex;
    flex-direction: column;
    
    line-height: 0px;
    padding-bottom: 11px;
    color: black;
    text-decoration: none;
}

main .oui{

    display: flex;
}

aside{
    height: 625px;
    width: 420px;
    margin-left: 40px;
    margin-top: 39px;
    background: #F2F2F2;
    border-radius: 20px;
    padding-left: 37px;
    padding-top: 41px;
    padding-bottom: 46px;
    padding-right: 40px;
    margin-right: 90px; 
}



.pop{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-radius: 20px;
    gap: 33px;
    height: 144px;
}
.poprix {
    color:black;
    
}

aside img{

   object-fit: cover;
   width: 137px;
   height: 134px;
   border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

aside a{
    
    display: flex;
    height: 144px;
    width: 343px;
    align-content: space-around;
    
}

.afficher{
    border: none;
    background-color: #F2F2F2;
    color: black;
    text-align: left;  
}
.afficher:hover {

    box-shadow: none;
}


aside h2 i {
    margin-left: 170px;
    color: #0065FC;
}


.activite 
{
display: grid;
grid-template-columns: 302px 302px 302px 302px;
height: 444.51px;
gap:43px;

}

.activite img{

height: 388.51px;
width: 302px;
object-fit: cover;

border-radius: 20px 20px 0px 0px;
}
.activite h3{
padding-left: 19px;
color:black;

}
.activites{

    padding-left: 50px;
}

footer nav{

    display: flex;
    gap:347px;
    padding-left:  70px;
    background-color: #F2F2F2;
    margin-left: 48px;
    margin-top: 61px;
    margin-right: 53px;
    
}





@media screen and (max-width: 992px) {

    body {
        background-color: red;
    }
    .oui {
        display: flex;
        flex-direction: column;
    }
    .pop{
        display: flex;
        flex-direction: row;

    }
    aside{

        width: 883px;
        height: 278px;
        margin-left: 70px;
        margin-right: 71px;
        padding-right: 0px;
    }
    aside img{

        width: 96px;
        height: 134px;
    }

    aside a{

        width: 252px;
        height: 144px;
    }
    
    aside h3{

        font-size: 14px;
        font-weight: 700;
        line-height: 16.44px;
    }

    .activite img{

        width: 182px;
        height: 211px;
    }
    .activite{

        grid-template-columns: 182px 182px 182px 182px;
        height: 267px;
        gap: 50px;
        margin-left: 23px;
    }
    .activites h2{

        margin-left: 30px;
    }
    footer nav{
        width: 879.65px;
        height: 225px;
        margin-left: 73.53px;
        margin-right: 70.82px;
        gap: 82px;
    }
    
    aside h2 i{margin-left: 575px;}
    main .centaur{margin-left: 72px;}
    main .logements{margin-left: 72px; padding-left: 0px;}
    main .lei{margin-left: 0px;}
    main .filtres{margin-left: 72px;}
    main .barre{margin-left: 0px;}
    main .slogan{margin-left: 0px;}
    main .hebergements{margin-left: 72px;}
    header .banniere{margin-left: 72px;}

}

@media screen and (max-width: 768px) {
    body {
        background-color: transparent;
    }

    .oui {
        display: flex;
        flex-direction: column-reverse;
    }
   
    aside {
        display: flex;
        flex-direction: column;
        width: 375px;
        height: 580px;
    }
    .pop {flex-direction: column; width: 334px; height: 144px;}
    aside img{width: 137px; height: 134px;}
}