body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    max-width: 1440px;
    margin: auto;
}

header {
display: flex;
margin-bottom: 0;
align-items: center;
}

header nav
{
    display: flex;
    justify-content:end;
    gap: 10%;
    position: absolute;
    right: 0;
    margin-right: 3%; 
}

header nav p:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

header nav p{
    padding-top: 5px;
}

main .barre{
    display: flex;
    justify-content: left;
    width: 22%;
    height: 3%;
    align-items: center;   
}

main .pin { 
    background-color:#F2F2F2 ;
    border: 15px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

main .recherche
{   
    display: flex;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;;
    align-items: center;
    justify-items: center;   
    font-size: 18px;
}

a:link { 
    text-decoration: none;   
}

main .bouton {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: white; 
    background: #0065FC;
    border: 10px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px 15px 16px;
    align-items: center;   
}
input {
    height: 41px;
    Border:none;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;;
    width: 236px;
}
.btn3 i {
    visibility: hidden;
}

.bulle {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 20px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.icone {
        color: #0065FC;
}

div .bulle:hover {
    background-color:#DEEBFF;
}

main .filtres {
    display: flex;
    font-style: normal;
    font-weight: auto;
    font-size: 16px;
    line-height: 20px;
    max-width: 914px;
    height: 50px;
    justify-content: flex-start;
    justify-content: space-between;
    margin-top: 32px;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-info {
    width: 24px;
    height: 24px;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    line-height: 24px;
    border-radius: 50%;
    margin: 10px;
    background-color: transparent;
}

.btn-info i {
    display: flex;
    align-items: center;
    font-size: 10px;
    justify-content: center;
}

.info h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.btn2 {
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.btn1 {
    background-color:#F2F2F2 ;
    border: 15px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    cursor: pointer;    
}

.btn3 {
    display: flex;
    font-weight: 700;
    text-align: center;
    color: white; 
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    align-items: center;
    cursor: pointer;
}

.popularlodgings{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: space-around;
}

main .lodgings {
    background: #F2F2F2;
    border-radius: 20px;
    width: 60%;
}

.lodgings h2 {
    padding-left: 3%;
}

.hotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;   
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4px;
    background-color: white;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 4%;
}

main .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hotels img {
    width: 246px;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.étoiles {
    color: #0065FC;  
}

.étoile {
    color: #F2F2F2;
}

.prix {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    line-height: 0px;
    padding-bottom: 11px;
    color: black;
    text-decoration: none;
}

aside{
    height: auto;
    width: 30%;
    background: #F2F2F2;
    border-radius: 20px;
    padding-left: 3%; 
}

.pop {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-radius: 20px;
    gap: 33px;
    height: auto;
}

.poprix {
    color:black;
    background: white;
    padding-left: 3%;
    border-radius: 0px 20px 20px 0px;
}

aside img {
   object-fit: cover;
   width: 137px;
   height: 134px;
   border: 5px solid #FFFFFF;
   border-radius: 20px 0px 0px 20px;
}

aside a {  
    display: flex;
    height: 50%;
    width: 90%;
    align-content: space-around;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #FFFFFF;
}

aside a:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.afficher {
    border: none;
    background-color: #F2F2F2;
    color: black; 
}
.afficher:hover {
    box-shadow: none;
}
.afficher h3 {
    padding-left: 3%;
}

aside h2 i {
    margin-left: 30%;
    color: #0065FC;
}

.activite {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.activite article {    
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
}

.activite img {
height: 80%;
width: 100%;
object-fit: cover;
border-radius: 20px 20px 0px 0px;
}

.activite h3 {
color:black;
padding-left: 8%;
margin-bottom: 5%;
}

footer nav {
    margin-top: 3%;
    display: flex;
    gap: 25%;
    padding-left:  3%;
    background-color: #F2F2F2;
    width: auto; 
}

@media screen and (max-width: 992px) {

    body {
        margin-left: 1%;
        margin-right: 1%;
    }

    .popularlodgings {
        display: flex;
        flex-direction: column;
    }
    main .lodgings {
        width: 100%;
    }

    .hotels {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pop {
        display: flex;
        flex-direction: row;
    }

   aside {
    width: 95%;
    padding-left: 3%;
    margin-top: 3%;
    padding-bottom: 3%;
    padding-right: 2%;
   }

    aside img { 
        width: 96px;
        height: 134px;
    }

    aside a {
        width:100%;
        height: 144px;
    }
    
    aside h3 {
        font-size: 14px;
        font-weight: 700;
        line-height: 16.44px;
    }
    aside h2 i { 
        margin-left: 70%;
    }

    footer nav {
        height: 225px;
        gap: 10%;
        width: auto;
        padding-left: 6%;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: transparent;
        margin: 0;
    }
    header {
        display: flex;
        flex-direction: column;
        margin-top: 3%;     
    }

    header nav p:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;    
    }

    header nav{
        width: 100%;
        position: unset;
        justify-content: center;
        gap: 0%;
        margin-left: 3%;
    }

    header nav p{
        width: 100%;
        padding-left: 15%; 
        padding-bottom: 5%;
        border-bottom: 3px solid #F2F2F2;   
    }

    main .slogan {
        margin-left: 3%;
    }

    input { 
        width:160px;
    }

    .btn3 p {
        visibility: hidden;
    }

    .btn3 i {
        visibility: visible;
        justify-items: center;
    }

    .btn3 {
        width:40px
    }
    .barre {
        margin-left: 3%;
    }
    main .filtres {
        display: grid;
        grid-template-columns: 46% 46%;
        justify-content: unset;
        gap: 7%;
        font-size: small;
    }

    main .filters {
        margin-left: 3%;
    }

    .info {
        margin-top: 20%;
    }

    .popularlodgings {
        display: flex;
        flex-direction: column-reverse;
        border: none;
    }
   
    aside {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150%;
        margin-left: 0%;
        border-radius: 0%;
        margin-bottom: 3%;
    }

    .pop {
        flex-direction: column;
        width: 100%; 
        height: auto; 
    }

    aside img {
        width: 137px; 
    }

    aside article{
        margin-bottom: 5%;
        justify-content: center;
        margin-left: 6%;
    }

    aside h2 i {
        margin-left: 5%;
    }
    
    main .lodgings {
    background: none;
    justify-content: center;
    width: 100%;
    }

    .hotels {
        display:flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        width: 100%;
        margin-left: 10%;
    }
    
    .card {
    width: 100%;
    }

    main article {
    width: 80%;
    }

    .card a {
    width:100%;
    }

    .hotels img {
    width: 100%; 
    }

    .afficher {
    visibility: hidden;
    }

    .activites {
        margin-left: 3%;
    }

    .activite { 
        display: flex; 
        flex-direction: column;
        justify-content: unset; 
    }

    .activite article {
        width: 90%;
        height: 80%;
        margin-bottom: 6%;
        margin-left: 2%;
    }

    .activite img {
        height: 240px;
    }
    
    footer nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; 
  }

}